{% extends 'pages/layouts/baseLayout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/register.css' %}">
{% endblock %}

{% block content %}
    <!--################################### main secton -->
    <main class="container-fluid px-0">
      <div id="bgColor" class="container-fluid position-absolute">
        <div class="row mt-sm-5 mt-md-5 pt-sm-3 pt-md-5">
          <div class="col-12 col-md">
            <h1 class="text-light font-weight-normal text-center text-md-right my-4 mt-sm-0 reg-header pt-5 pt-sm-0 left-right" >Sign Up!</h1>
          </div>
          <div class="col col-md">
            <div class="container mt-md-5 right-left" style="border-radius: 10px; background-color: rgba(255,255,255,0.7); padding: 10% 3% 5% 3%; ">
              <form method="POST">
                {% csrf_token %}
                <div class="row ">
                  <div class="col-12 col-sm mb-3 mb-sm-5"><div class="h5 font-weight-normal text-info">First Name:</div>
                  <input type="text" name="fname" maxlength="20" required id="id_fname" class="form-control mr-sm-2"></div>

                  <div class="col mb-3 mb-sm-5"><div class="h5 font-weight-normal text-info">Last Name:</div>
                  <input type="text" name="lname" maxlength="20" required id="id_lname" class="form-control mr-sm-2"></div>
                  <div class="w-100"></div>


                  <div class="col-12 col-sm mb-3 mb-sm-5"><div class="h5 font-weight-normal text-info">Email:</div>
                  <input type="email" name="email" maxlength="200" required id="id_email" class="form-control mr-sm-2"></div>
                  <div class="col col-sm">

                    {% if err %}
                    <p class="font-weight-normal text-monospace h6 mt-0" style="color: #efb60e">{{ err }}</p>
                    {% endif %}

                    {% if form.errors.email %}
                      {% for error in form.errors.email %}
                      <p class="font-weight-normal text-monospace h6 mt-0" style="color: #efb60e">{{ error }}</p>
                      {% endfor %}
                    {% endif %}

                  </div>
                  <div class="w-100"></div>


                  <div class="col-12 col-sm mb-3 mb-sm-5"><div class="h5 font-weight-normal text-info">Phone Number:</div>
                  <input type="text" name="phoneNo" maxlength="20" id="id_phoneNo" class="form-control mr-sm-2" required></div>

                  <div class="col mb-3 mb-sm-5"><div class="h5 font-weight-normal text-info">Address:</div>
                  <input type="text" name="addr" maxlength="1000" id="id_addr" class="form-control mr-sm-2" required></div>
                  <div class="w-100"></div>


                  <div class="col">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 50px" />Register</button>
                  </div>
                  <div class="col"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </main>

    <!--################################################### sucess modal
    -->
    {% if sucess %}
    <div id="sucess-myModal" class="sucess-modal">
      <!-- Modal content -->
      <div class="sucess-content border border-primary rounded" style="">
        <span class="sucess-close ">&times;</span>
        <p id="sucess-msg" class="text-info text-center">{{ sucess }}</p>
      </div>
    </div>
    {% endif %}

{% endblock %}


{% block js %}
    <!-- scripts -->
    <script src="{% static 'pages/js/register.js' %}"></script>
    <script src="{% static 'pages/js/sucess_modal.js' %}"></script>
{% endblock %}